name: CI build
on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:bionic
    env:
      REPO: ratelimiting
      BUILD_PATH: samples/bpf

    steps:          
      - name: Setup build environment
        run: |
          apt-get update
          apt-get install -y bc \
          bison \
          build-essential \
          clang \
          curl \
          exuberant-ctags \
          flex \
          gcc-8 \
          gcc-multilib \
          git \
          gnutls-bin \
          libc6-dev \
          libcurl4-openssl-dev \
          libelf-dev \
          libjson-c-dev \
          libncurses5-dev \
          libpcap-dev \
          libssl-dev \
          linux-headers-generic \
          linux-tools-common \
          linux-tools-generic \
          llvm \
          rsync
      
      - name: Clone dependencies 
        run: |
          git clone --branch v5.1 --depth 1 https://github.com/torvalds/linux.git linux
          cd linux
          make defconfig

      - name: Clone kernel function repository
        uses: actions/checkout@v2
        with:
          path: linux/${{ env.BUILD_PATH }}/${{ env.REPO }}

      - name: Build kernel function
        run: |
          LINUX_SRC_PATH=$GITHUB_WORKSPACE/linux
          echo $LINUX_SRC_PATH
          cd $LINUX_SRC_PATH/$BUILD_PATH/$REPO
          make
          
